[Desktop Entry]
Type=Application
Version=1.0
Name=Vigia Hub
Name[pt_BR]=Vigia Hub
GenericName=Security Toolkit Launcher
GenericName[pt_BR]=Launcher de Ferramentas de Seguranca
Comment=Launcher central para todas as ferramentas do VigiaOS
Comment[pt_BR]=Launcher central para todas as ferramentas do VigiaOS
Icon=br.com.vigia.Hub
Exec=vigia-hub
Terminal=false
Categories=Settings;System;Security;
Keywords=vigia;security;privacy;audit;launcher;hub;suite;
StartupNotify=true
